<nav class="navbar bg-body navbar-expand-lg py-3">
    <div class="col-lg-12 d-flex justify-content-between px-5">
        <a class="navbar-brand d-flex align-items-lg-center" href="/dashboard">
            <h4 class="bi bi-bookmarks"> Smart Gate Management Project</h4>
        </a>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" role="button" data-bs-toggle="dropdown">
                {% if current_user.is_authenticated %}
                    Witaj, {{ current_user.firstName }}
                {% endif %}
            </button>
        <ul class="dropdown-menu dropdown-menu-end">
            <li>
                <a class="dropdown-item" href="/usersTable">Baza użytkowników</a>
                <a class="dropdown-item" href="adminTable">Baza administratorów</a>
            </li>

            <li class="dropdown-divider"></li>

            <li>
                <a class="dropdown-item" href="/registerUsers">Dodaj użytkowników</a>
            </li>
            <li>
                <a class="dropdown-item" href="/register">Dodaj administratorów</a>
            </li>

            <li class="dropdown-divider"></li>

            <li>
                <a class="dropdown-item" href="/passChange">Zmień hasło</a>
            </li>
            <li>
                <a class="dropdown-item text-danger hover" href="/logout">Wyloguj</a>
            </li>
        </ul>
        </div>
    </div>
</nav>